.divListContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    
}



.h1greeting{    
    color: #000000;
    text-align: center;
}