.Divnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .Divnav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 50px;
        font-size: 14px;
    }
}