
.Divboton{
   background-color: #f3dbed;
   border-radius: 10px;
   width: 150px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   
}

.Botoncarrito{
    background-color: #f3dbed;
    color: #000000;
    border-radius: 5px;
}


.Botonagregar{
    background-color: #f3dbed;
    color: #000000;
    border-radius: 5px;
}


.cuenta{
    font-weight: bolder;
}