
.Divboton{
   background-color: #f3dbed;
   /* border-radius: 10px; */
   width: 150px;
   margin-left: auto;
   margin-right: auto;
}

.Botoncarrito{
    background-color: #f3dbed;
    color: #000000;
    font-size: 25px;
    border:none ;
    
}


.Botonagregar{
    background-color: #f3dbed;
    color: #000000;
    border-radius: 5px;
    font-weight:bold;
}


.cuenta{
    font-weight: bolder;
}